@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
     font-family: "Ubuntu", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* a {
	text-decoration: none;
}

li {
	list-style: none;
} */

:root {
     --blue: #2a2185;
     --white: #fff;
     --gray: #f5f5f5;
     --black1: #222;
     --black2: #999;
   }

body {
     display: flex;
     justify-content: center;
     margin: 0;
     padding: 0;
     height: 100vh;
     box-sizing: border-box;
     text-align: center;
     background: rgba(5, 28, 235, 0.66);
     /* min-height: 100vh;
     overflow-x: hidden; */
 }


/* =============== Navigation ================ */
.navigation {
     position: fixed;
     width: 300px;
     height: 100%;
     left: 0px;
     background: var(--blue);
     border-left: 10px solid var(--blue);
     transition: 0.5s;
     overflow: hidden;
   }
   .navigation.active {
     width: 80px;
   }
   
   .navigation ul {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
   }
   
   .navigation ul li {
     position: relative;
     width: 100%;
     list-style: none;
     border-top-left-radius: 30px;
     border-bottom-left-radius: 30px;
   }
   
   .navigation ul li:hover,
   .navigation ul li.hovered {
     background-color: var(--white);
   }
   
   .navigation ul li:nth-child(1) {
     margin-bottom: 20px;
     pointer-events: none;
   }
   
   .navigation ul li a {
     position: relative;
     display: block;
     width: 100%;
     display: flex;
     text-decoration: none;
     color: var(--white);
   }
   .navigation ul li:hover a,
   .navigation ul li.hovered a {
     color: var(--blue);
   }
   
   .navigation ul li a .icon {
     position: relative;
     display: block;
     min-width: 60px;
     height: 60px;
     line-height: 75px;
     text-align: center;
   }
   .navigation ul li a .icon ion-icon {
     font-size: 1.75rem;
   }
   @keyframes shake {
        0%, 100% {
          transform: translateX(0);
        }
        10%, 30%, 50%, 70%, 90% {
          transform: translateX(-10px);
        }
        20%, 40%, 60%, 80% {
          transform: translateX(10px);
        }
      }
      
      ion-icon {
        animation: shake 100s infinite;
      }
      @keyframes zoomBounce {
        0%, 20%, 50%, 80%, 100% {
          transform: scale(1);
        }
        40% {
          transform: scale(1.2);
        }
        60% {
          transform: scale(1.1);
        }
      }
      
      ion-icon[name="logo-ionic"] {
        animation: zoomBounce 5s infinite;
      }
   .navigation ul li a .title {
     position: relative;
     display: block;
     padding: 0 10px;
     height: 60px;
     line-height: 60px;
     text-align: start;
     white-space: nowrap;
   }
   
   /* --------- curve outside ---------- */
   .navigation ul li:hover a::before,
   .navigation ul li.hovered a::before {
     content: "";
     position: absolute;
     right: 0;
     top: -50px;
     width: 50px;
     height: 50px;
     background-color: transparent;
     border-radius: 50%;
     box-shadow: 35px 35px 0 10px var(--white);
     pointer-events: none;
   }
   .navigation ul li:hover a::after,
   .navigation ul li.hovered a::after {
     content: "";
     position: absolute;
     right: 0;
     bottom: -50px;
     width: 50px;
     height: 50px;
     background-color: transparent;
     border-radius: 50%;
     box-shadow: 35px -35px 0 10px var(--white);
     pointer-events: none;
   }
 .container {
      width: 100%;
      max-width: 500px;
      margin: 5px;
      margin-top: 150px;
 }
  
 .container h1 {
     color: #ffffff;
 }
  
 .section {
     background-color: #ffffff;
     padding: 50px 30px;
     border: 1.5px solid #b2b2b2;
     border-radius: 0.25em;
     box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
 }
  
 #my-qr-reader {
     padding: 20px !important;
     border: 1.5px solid #b2b2b2 !important;
     border-radius: 8px;
 }
  
 #my-qr-reader img[alt="Info icon"] {
     display: none;
 }
  
 #my-qr-reader img[alt="Camera based scan"] {
     width: 100px !important;
     height: 100px !important;
 }
  
 button {
     padding: 10px 20px;
     border: 1px solid #b2b2b2;
     outline: none;
     border-radius: 0.25em;
     color: white;
     font-size: 15px;
     cursor: pointer;
     margin-top: 15px;
     margin-bottom: 10px;
     background-color: #008000ad;
     transition: 0.3s background-color;
 }
  
 button:hover {
     background-color: #008000;
 }
  
 #html5-qrcode-anchor-scan-type-change {
     text-decoration: none !important;
     color: #1d9bf0;
 }
  
 video {
     width: 100% !important;
     border: 1px solid #b2b2b2 !important;
     border-radius: 0.25em;
 }