* {
     margin: 0;
     padding: 0
 }
 
 body {
     background-color: #020728;
 }
 
 .card {
     width: 300px;
     background-color: #e0dddd;
     border: none;
     cursor: pointer;
     transition: all 0.5s;
     
     height:  508px;
    }
    .space{
       
        display: grid;
        row-gap: 5px;
    }
    .profileimage{
        margin-left: 45px;
    }
    .image img {
        transition: all 0.5s;
        
    }
    
    .card:hover .image img {
        transform: scale(1.5)
    }
    
    .btn {
        height: 140px;
        width: 140px;
        border-radius: 50%;
        
    }
 
    .name {
     font-size: 22px;
     font-weight: bold;
     padding-left: 60px;
    }
 
 .idd {
    margin-top: 15px;
     font-size: 19px;
     font-weight: 650;
     margin-left: 20px;
     padding-bottom: 10px;
 }
 
 .idd1 {
     font-size: 17px;
     padding-left: 30px;
 }
 
 .number {
     
     font-size: 22px;
     font-weight: bold
 }
 
 .follow {
     font-size: 12px;
     font-weight: 500;
     color: #444444
 }
 
 .btn1 {
    margin-left: 10px;
     height: 42px;
     width: 230px;
     border: none;
     background-color: #000;
     color: #aeaeae;
     font-size: 15px
 }
 
 .text span {
     font-size: 13px;
     color: #545454;
     font-weight: 500
 }
 
 .icons i {
     font-size: 19px
 }
 
 hr .new1 {
     border: 1px solid
 }
 
 .join {
     font-size: 17px;
     color: #a0a0a0;
     font-weight: bold;

     background-color: #ccc;
 }
 
 .date {
     background-color: #ccc;
     border:3px solid #ccc;
      
 }